<!-- <h2>Name: {{name}}</h2>
<h2>Lowercase: {{name | lowercase}}</h2>
<h2>Uppercase: {{name | uppercase}}</h2>
<h2>Title: {{msg | titlecase}}</h2>
<h2>slice: {{name | slice : 3}}</h2>
<h2>Slice: {{name | slice : 0:7}}</h2>
<h2>Jsn: {{jsonpath | json}}</h2>
<h2>Date: {{date | date}}</h2>
<h2>Date: {{date | date: "dd/MM/yyyy"}}
</h2>
<!-- <h2>{{date | date: 'short'}}</h2>
<h2>{{date | date: 'shorttime'}}</h2>
<h2>{{date | date: 'mediumtime'}}</h2>
<h2>{{date | date:'longdate'}}</h2> -->
<!-- <h3>Number: {{numberDisplay}}</h3>
<h3>Number: {{numberDisplay | number: '2.2-5'}}</h3>
<h2>Percentage: {{percentage | percent}}</h2>
<h2>currency: {{ currenyConvert | currency}}</h2>
<h2>Currency Country: {{currencyCountry| currency: 'INR'}}</h2>
<h2>{{3.3|number:'1.0-0'}}</h2> --> 